image:
  repository: ghcr.io/brscherer/server
  tag: "latest"
replicaCount: 1
service:
  port: 3000
livenessProbe:
  path: /health-check
  port: 3000
  initialDelaySeconds: 15
  periodSeconds: 10
readinessProbe:
  path: /health-check
  port: 3000
  initialDelaySeconds: 5
  periodSeconds: 5
